.body {
    display:flex;
    flex-direction:column;
}
.header{
    flex:0;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-end;
    height:70px;
    background-color: #45d579;
    color:rgb(0, 122, 228);
}
.content {
    flex:1;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:25px;
    padding:25px;
}
.footer{
    height:70px;
    flex:0;
    background-color: #45d579;
    color:rgb(0, 122, 228);
    display:flex;
    align-items:flex-end;
    justify-content:flex-end;

}
.bookdiv{
    border-radius: 5px;
    box-shadow:5px 5px #33ff99;
    padding:5px;
    background-color: aquamarine;
}
.titlediv{
    font-size:24px;
    font-weight:600;
}