.body {
    display:flex;
    flex-direction:column;
}
.header{
    flex:0;
    height:70px;
    background-color: #28287e;
    color:aliceblue;
}
.content {
    flex:1;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:25px;
    padding:25px;
}
.footer{
    height:70px;
    flex:0;
    background-color: #28287e;
    color:aliceblue;
    display:flex;
    align-items:flex-end;
}
.bookdiv{
border-radius: 5px;

padding:5px;
background-color: aquamarine;
}
.titlediv{
    font-size:24px;
    font-weight:600;
}